* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    width: 26.667vw;
    background-color: #e1e1e1;
}

body {
    font-size: 0.16rem;
}

.denglu {
    width: 2.6rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 0.05rem;
    margin: 1.4rem 0.6rem;
}

.denglu .one {
    height: 1rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    /* background-color: chocolate; */
    line-height: 1rem;
    font-size: 0.18rem;
}

.denglu .two {
    margin-left: 0.5rem;
}

.denglu .our {
    width: 1.7rem;
    height: 0.3rem;
    background-color: #FF5593;
    border-radius: 0.07rem;
    margin-top: 0.15rem;
    margin-left: 0.4rem;
    text-align: center;
}

.denglu .our p {
    line-height: 0.3rem;
    color: #fff;
}

.denglu .three {
    margin-top: 0.15rem;
    margin-left: 0.8rem;
    color: #b1b1b1;
}

.denglu ul {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}

.denglu li {
    float: left;
    margin-left: 0.07rem;
}

.denglu li img {
    width: 0.4rem;
    height: 0.4rem;
}