* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    width: 26.667vw;
    background-color: #fff;
}

body {
    font-size: 0.16rem;
}


/* ................header.............. */

.header {
    width: 100vw;
    height: 1.2rem;
    background-color: #FF5593;
    position: fixed;
    top: 0;
}

.header .star {
    border-bottom: 0.04rem solid #fff;
}

.header ul {
    margin-top: 0.3rem;
    margin-left: 0.9rem;
}

.header li {
    float: left;
    margin-left: 0.2rem;
    color: #fff;
    text-align: center;
    font-size: 0.2rem;
    /* border: 0.01rem solid black; */
}

.header .ipt {
    width: 90vw;
    height: 0.3rem;
    background-color: #fff;
    border-radius: 0.07rem;
    margin: 0.8rem 0.2rem;
}

.header .ipt input {
    width: 1.3rem;
    margin-top: -0.05rem;
    outline: medium;
    border: none;
    /* margin-left: 0.3rem; */
    /* background-color: brown; */
}

.header .ipt p {
    /* width: 0.3rem; */
    display: inline-block;
    font-size: 0.23rem;
    margin-left: 0.6rem;
}


/*.................. center............... */

.center {
    margin-top: 1.2rem;
    flex: 1;
    margin-bottom: 0.62rem;
}


/* <!-- .............shang..........  */

.center .shang {
    width: 100vw;
    height: 0.6rem;
    /* background-color: aquamarine; */
    margin-top: 0.1rem;
    border-bottom: 0.01rem solid #e1e1e1;
}

.center .shang li {
    float: left;
    /* line-height: 0.6rem; */
    width: 0.7rem;
    /* border: 0.01rem solid black; */
    text-align: center;
    margin-left: 0.15rem;
    margin-top: 0.05rem;
}

.shang .iconfont {
    font-size: 0.23rem;
}

.shang p {
    font-size: 0.16rem;
    color: black;
}

.shang .icon-wenjianjia {
    color: #ff8bd1;
}

.shang .icon-shipin {
    color: #4ecdc4;
}

.shang .icon-shijianbiao {
    color: #7fa9fd;
}

.shang .icon-paihangbang {
    color: #ffbc03;
}


/* ...........shan............. */

.shan {
    height: 0.4rem;
    width: 99vw;
    /* border: 0.01rem solid black; */
    margin-top: 0.1rem;
}

.shan li {
    float: left;
    /* border: 0.01rem solid black; */
    line-height: 0.4rem;
}

.shan .lii {
    float: right;
    color: #d1d1d1;
}

.shan .you {
    margin-left: 2.1rem;
    color: #d1d1d1;
}


/* ..............hot................... */

.hot {
    width: 100vw;
    height: 4.2rem;
    margin-top: 0.15rem;
}

.hot li {
    float: left;
    width: 1.2rem;
    height: 2.1rem;
    margin-left: 0.03rem;
    text-align: center;
    /* border: 0.01rem solid black; */
}

.hot li img {
    width: 1.2rem;
    height: 1.7rem;
}


/* .................huan..................... */

.huan {
    width: 0.7rem;
    height: 0.3rem;
    /* background-color: burlywood; */
    text-align: center;
    margin-left: 1.6rem;
    margin-top: 0.15rem;
}

.huan .iconfont {
    font-size: 0.17rem;
    color: #ff8bd1;
}


/* ..............zhui................... */

.zhui {
    width: 100vw;
    height: 4.2rem;
    margin-top: 0.15rem;
}

.zhui li {
    float: left;
    width: 1.2rem;
    height: 2.1rem;
    margin-left: 0.03rem;
    text-align: center;
    /* border: 0.01rem solid black; */
}

.zhui li img {
    width: 1.2rem;
    height: 1.7rem;
}


/* ..........footer.................... */

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 0.6rem;
}

.footer ul {
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    /* float: left; */
    width: 0.4rem;
    /* border: 0.01rem solid black; */
    text-align: center;
    padding: 0 0.08rem;
}

.footer ul .iconfont {
    font-size: 0.23rem;
}

.footer ul .icon-shouye {
    color: #FF5593;
}

.footer ul li p {
    font-size: 0.17rem;
}