* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    width: 26.667vw;
    background-color: #fff;
}

body {
    font-size: 16px;
}


/* ................header.............. */

.header {
    width: 100vw;
    height: 120px;
    background-color: #FF5593;
    position: fixed;
    top: 0;
}

.header .star {
    border-bottom: 4px solid #fff;
}

.header ul {
    margin-top: 30px;
    margin-left: 90px;
}

.header li {
    float: left;
    margin-left: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    /* border: 1px solid black; */
}

.header .ipt {
    width: 90vw;
    height: 30px;
    background-color: #fff;
    border-radius: 7px;
    margin: 80px 20px;
}

.header .ipt input {
    width: 130px;
    margin-top: -5px;
    outline: medium;
    border: none;
    /* margin-left: 30px; */
    /* background-color: brown; */
}

.header .ipt p {
    /* width: 30px; */
    display: inline-block;
    font-size: 23px;
    margin-left: 60px;
}


/*.................. center............... */

.center {
    margin-top: 120px;
    flex: 1;
    margin-bottom: 62px;
}


/* <!-- .............shang..........  */

.center .shang {
    width: 100vw;
    height: 60px;
    /* background-color: aquamarine; */
    margin-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.center .shang li {
    float: left;
    /* line-height: 60px; */
    width: 70px;
    /* border: 1px solid black; */
    text-align: center;
    margin-left: 15px;
    margin-top: 5px;
}

.shang .iconfont {
    font-size: 23px;
}

.shang p {
    font-size: 16px;
    color: black;
}

.shang .icon-wenjianjia {
    color: #ff8bd1;
}

.shang .icon-shipin {
    color: #4ecdc4;
}

.shang .icon-shijianbiao {
    color: #7fa9fd;
}

.shang .icon-paihangbang {
    color: #ffbc03;
}


/* ...........shan............. */

.shan {
    height: 40px;
    width: 99vw;
    /* border: 1px solid black; */
    margin-top: 10px;
}

.shan li {
    float: left;
    /* border: 1px solid black; */
    line-height: 40px;
}

.shan .lii {
    float: right;
    color: #d1d1d1;
}

.shan .you {
    margin-left: 210px;
    color: #d1d1d1;
}


/* ..............hot................... */

.hot {
    width: 100vw;
    height: 420px;
    margin-top: 15px;
}

.hot li {
    float: left;
    width: 120px;
    height: 210px;
    margin-left: 3px;
    text-align: center;
    /* border: 1px solid black; */
}

.hot li img {
    width: 120px;
    height: 170px;
}


/* .................huan..................... */

.huan {
    width: 70px;
    height: 30px;
    /* background-color: burlywood; */
    text-align: center;
    margin-left: 160px;
    margin-top: 15px;
}

.huan .iconfont {
    font-size: 17px;
    color: #ff8bd1;
}


/* ..............zhui................... */

.zhui {
    width: 100vw;
    height: 420px;
    margin-top: 15px;
}

.zhui li {
    float: left;
    width: 120px;
    height: 210px;
    margin-left: 3px;
    text-align: center;
    /* border: 1px solid black; */
}

.zhui li img {
    width: 120px;
    height: 170px;
}


/* ..........footer.................... */

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
}

.footer ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    /* float: left; */
    width: 40px;
    /* border: 1px solid black; */
    text-align: center;
    padding: 0 8px;
}

.footer ul .iconfont {
    font-size: 23px;
}

.footer ul .icon-shouye {
    color: #FF5593;
}

.footer ul li p {
    font-size: 17px;
}