* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    width: 26.667vw;
    background-color: #fff;
}

body {
    font-size: 16px;
}


/* ................header.............. */

.header {
    width: 100vw;
    height: 120px;
    background-color: #FF5593;
    position: fixed;
    top: 0;
}

.header .star {
    border-bottom: 4px solid #fff;
}

.header ul {
    margin-top: 30px;
    margin-left: 90px;
}

.header li {
    float: left;
    margin-left: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    /* border: 1px solid black; */
}

.header .ipt {
    width: 90vw;
    height: 30px;
    background-color: #fff;
    border-radius: 7px;
    margin: 80px 20px;
}

.header .ipt input {
    width: 130px;
    margin-top: -5px;
    outline: medium;
    border: none;
    /* margin-left: 30px; */
    /* background-color: brown; */
}

.header .ipt p {
    /* width: 30px; */
    display: inline-block;
    font-size: 23px;
    margin-left: 60px;
}


/*.................. center............... */

.center {
    margin-top: 120px;
    flex: 1;
    margin-bottom: 62px;
}

.center .picture img {
    width: 100vw;
    border-radius: 5px;
}


/* ..............明星列表......... */

.center .ming {
    height: 100px;
    /* overflow: hidden; */
    margin-top: 10px;
}

.ming ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.center li {
    float: left;
    margin-left: 20px;
    flex-shrink: 0;
    position: relative;
}

.ming p {
    text-align: center;
}

.center li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* ..............明星动态......... */

.mxdt {
    width: 100vw;
    margin-top: 20px;
}

.mxdt h2 {
    margin-left: 15px;
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.mxdt .iconfont {
    color: orange;
}


/* ..........footer.................... */

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
}

.footer ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    /* float: left; */
    width: 40px;
    /* border: 1px solid black; */
    text-align: center;
    padding: 0 8px;
}

.footer ul .iconfont {
    font-size: 23px;
}

.footer ul .icon-shouye {
    color: #FF5593;
}

.footer ul li p {
    font-size: 17px;
}