* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    width: 26.667vw;
    background-color: #fff;
}

body {
    font-size: 0.16rem;
}


/* ................header.............. */

.header {
    width: 100vw;
    height: 1.2rem;
    background-color: #FF5593;
    position: fixed;
    z-index: 999;
    top: 0;
}

.header .star {
    border-bottom: 0.04rem solid #fff;
}

.header ul {
    margin-top: 0.3rem;
    margin-left: 0.9rem;
}

.header li {
    float: left;
    margin-left: 0.2rem;
    color: #fff;
    text-align: center;
    font-size: 0.2rem;
    /* border: 0.01rem solid black; */
}

.header .ipt {
    width: 90vw;
    height: 0.3rem;
    background-color: #fff;
    border-radius: 0.07rem;
    margin: 0.8rem 0.2rem;
}

.header .ipt input {
    width: 1.3rem;
    margin-top: -0.05rem;
    outline: medium;
    border: none;
    /* margin-left: 0.3rem; */
    /* background-color: brown; */
}

.header .ipt p {
    /* width: 0.3rem; */
    display: inline-block;
    font-size: 0.23rem;
    margin-left: 0.6rem;
}


/*.................. center............... */

.center {
    margin-top: 1.2rem;
    flex: 1;
    margin-bottom: 0.62rem;
}

.center .picture {
    height: 1.3rem;
}

.center .picture img {
    width: 100vw;
    border-radius: 0.05rem;
}


/* ..............明星列表......... */

.center .ming {
    height: 1rem;
    width: 100vw;
    margin-top: 0.3rem;
    /* background-color: aqua; */
}

.center .ming ul {
    height: 1rem;
    display: flex;
    align-items: center;
}

.center .ming ul li {
    float: left;
    margin-left: 0.2rem;
    flex-shrink: 0;
    position: relative;
}

.center .ming p {
    text-align: center;
}

.center .ming li img {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}


/* ..............明星动态......... */

.mxdt {
    width: 100vw;
    height: 12rem;
    margin-top: 0.2rem;
}

.mxdt h2 {
    margin-left: 0.15rem;
    font-weight: normal;
    font-size: 0.16rem;
    color: black;
}

.mxdt .iconfont {
    color: orange;
}

.mxdt li {
    width: 1.5rem;
    height: 2.7rem;
    margin-top: 0.1rem;
    float: left;
    margin-left: 0.25rem;
}

.mxdt li img {
    height: 2rem;
    width: 1.5rem;
}


/* ..........footer.................... */

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 0.6rem;
}

.footer ul {
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    /* float: left; */
    width: 0.4rem;
    /* border: 0.01rem solid black; */
    text-align: center;
    padding: 0 0.08rem;
}

.footer ul .iconfont {
    font-size: 0.23rem;
}

.footer ul .icon-shouye {
    color: #FF5593;
}

.footer ul li p {
    font-size: 0.17rem;
}